*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgba(0,0,0,1)
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    -webkit-mask-image: url("../static/grit.png");
    mask-image: url("../static/grit.png");
    -webkit-mask-repeat: repeat;
    mask-repeat:repeat;
    -webkit-mask-size: 180px;
    mask-size:180px;
}
